@{
    ViewData["Title"] = "Home Page";
}
<link href="~/css/main.css" rel="stylesheet" asp-append-version="true" />
<style>
     
    </style>
</style>
<div class="d-sm-flex align-items-center justify-content-between w-100" style="height: 100vh;">
    <div class="col-md-4 mx-auto mb-4 mb-sm-0 headline">
        <span class="text-secondary text-uppercase">Connect with Friends</span>
        <h1 class="display-4 my-4 font-weight-bold">Welcome to <span style="color: #6255fa;">EasySpeak App</span></h1>
        <a href="/Identity/Account/Login" class="btn px-5 py-3 text-white mt-3 mt-sm-0" style="border-radius: 30px; background-color: #6255fa;">Get Started</a>
    </div>
    <div class="col-md-8 h-100 clipped" style="min-height: 350px; background-image: url(images/123.jfif); object-fit:cover;">
    </div>
</div>
