@model IEnumerable<GroupJoinRequest>
<style>
    .badge-success {
        color: #fff;
        background-color: #28a745;
    }

    .badge-danger {
        color: #fff;
        background-color: #dc3545;
    }

    .badge-warning {
        color: #212529;
        background-color: #ffc107;
    }
</style>
<h2>Join Requests</h2>
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Chat Room</th>
            <th>Request Date</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var request in Model)
        {
            <tr>
                <td>@request.ChatRoom.Name</td>
                <td>@request.RequestDate.ToString("g")</td>
                <td >
                    @if (request.Status == Status.Pending)
                    {
                        <span class="badge badge-warning">Pending</span>
                    }
                    else if (request.Status == Status.Approved)
                    {
                        <span class="badge badge-success ">Approved</span>
                    }
                    else if (request.Status == Status.Rejected)
                    {
                        <span class="badge badge-danger">Rejected</span>
                    }
                </td>
                <td>
                    <form asp-action="DeleteRequest" method="post">
                        <input type="hidden" name="id" value="@request.Id" />
                        <button type="submit" class="btn btn-danger btn-sm">Delete Request</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
